<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tomo.futures-daily</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/tomohung</string>
		<key>LANG</key>
		<string>en_US.UTF-8</string>
		<key>PATH</key>
		<string>/Users/tomohung/.asdf/shims:/Users/tomohung/.local/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>FINMIND_API_KEY</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyNi0wNC0wOSAyMDowODoxNSIsInVzZXJfaWQiOiJ0b21vaHVuZyIsImVtYWlsIjoidG9tb2h1bmdAZ21haWwuY29tIiwiaXAiOiIxLjE3MS42NC4yMDMifQ.5aiu36M0M1dvn7uhAaUQyTMVNL1QIeIv8q1eyIIfgsU</string>
		<!-- 部署時以真實金鑰替換此佔位符（見 deploy/deploy.sh）；佔位符不進版控歷史 -->
		<key>RESEND_API_KEY</key>
		<string>__RESEND_API_KEY__</string>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>cd /Users/tomohung/Projects/futures_backtest &amp;&amp; bash run-daily-update.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/tomohung/Projects/futures_backtest/logs/launchd/daily.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/tomohung/Projects/futures_backtest/logs/launchd/daily.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
	</array>
</dict>
</plist>
